<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.which === 123) {
                require('remote').getCurrentWindow().toggleDevTools();
            } else if (e.which === 116) {
                location.reload();
            }
        });
    </script>

    <script>
        var THREE = require('three')
        var scene, camera, renderer;
        var geometry, material, mesh;

        var keytrackr = require('vrjs-trackr-key')
        var trackr = keytrackr.make(THREE);
        trackr.scale = new THREE.Vector3(5, 5, 5);

        init();
        animate();

        function init() {

            var back_color = 0x6666ff;

            scene = new THREE.Scene();
            scene.fog = new THREE.Fog( 0x6666ff, 500, 10000 );
            
            camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
            camera.position.y = 50;
            camera.position.z = 1500;
            
            geometry = new THREE.BoxGeometry( 200, 200, 200 );
            material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );

            mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );
            trackr.add( mesh );
            
            var groundTexture = THREE.ImageUtils.loadTexture( "three/textures/terrain/grasslight-big.jpg" );
            groundTexture.wrapS = groundTexture.wrapT = THREE.RepeatWrapping;
            groundTexture.repeat.set( 25, 25 );
            groundTexture.anisotropy = 16;
                
            var groundMaterial =    new THREE.MeshBasicMaterial( { map: groundTexture } );
            
            var ground_mesh = new THREE.Mesh( new THREE.PlaneBufferGeometry( 20000, 20000 ), groundMaterial );
            ground_mesh.position.y = -250;
            ground_mesh.rotation.x = - Math.PI / 2;
            ground_mesh.receiveShadow = true;
            scene.add( ground_mesh );

            renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.setClearColor(scene.fog.color, 1);

            document.body.appendChild( renderer.domElement );
        }

        function animate() {
            trackr.poll()
            requestAnimationFrame( animate );

            renderer.render( scene, camera );
        }

    </script>
  </body>
</html>
